body {
    font-family: Arimo, 'sans-serif';
    font-size: 14px;
  }
  
  .link {
      padding: 8px 10px;
      border-radius: 3px;
  }
  
  .link:hover {
      background: rgba(0, 0, 0, .1);
  }
  
  .wrapper {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    border-radius: 2px;
    margin-top: 20px;
    background: rgba(18, 21, 221, 0.26);
  }

  .playGround {
      border: 1px solid rgba(0, 0, 0, 0.2);
      width: 270px;
      text-align: center;

      .playgoundPart {
          display: inline-block;
          width: 50%;         
    }
    .playButton {
        font-size: 1.1rem;
        margin: 5px;
        height: 35px;
        width: 35px;
    }
    .playStar{
      content: "\2605";
      margin: 5px;
      height: 35px;
      width: 35px;
    }
    
  }