body {
    font-family: Arimo, 'sans-serif';
    font-size: 14px;
  }
  
  .link {
      padding: 8px 10px;
      border-radius: 3px;
  }
  
  .link:hover {
      background: rgba(0, 0, 0, .1);
  }
  
  .wrapper {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    border-radius: 2px;
    margin-top: 20px;
    background: rgba(18, 21, 221, 0.26);
  }

.playGround {
  max-width: 500px;
  margin: 0 auto;     
}

.body {
  display: flex;
}

.playgoundLeftPart {
  text-align: center;
  border: thin solid #ddd;
  width: 50%;
}

.playgoundRightPart {
  text-align: center;
  border: thin solid #ddd;
  padding: 10px;
  width: 50%;
}

.reset {
  text-align: center;
  margin-top: 10px;

  button {
    border: thin solid #ddd;
    font-size: 30px;
  }
  button:focus, button:active {
    outline: none;
    border: thin solid #ddd;
  }
}



.playButton {
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
}

.playButton:focus, .playButton:active {
  outline: none;
  border: thin solid #ddd;
}

.playStar {
  display: inline-block;
}

.playStar:after {
  content: "\2605";
  font-size: 45px;
  margin: 0 15px;
  color: black;
}

.clickedPlayStar {
  display: inline-block;
}

.clickedPlayStar:after {
  content: "\2605";
  font-size: 45px;
  margin: 0 15px;
  color: red;
}